/* banner section */
.banner-content{
    /* background-image: url('resources/Banner\ Image.png'); */
    height: 88vh;
    margin-top: 50px;
    margin-left: 49px;
    margin-right: 40px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
}


.h1{
    color: #FFF;
text-align: center;
font-family:Merriweather;
font-size: 70px;
font-weight: 800;
line-height: 95px;
}
.p1{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
padding-top: 110px;
}

.offer{
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}
.op1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.op1,.offer{
    line-height: 10px;
}
.mh1{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 16px;
}


.hbanner{
    text-align: center;
    padding-top: 48px;
    padding-bottom: 110px;
}

.main3{
   /* background-image: url('resources/Vectorrr.png'); */
   height: 600px;
   width: 1300px;
   background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
   background-repeat: no-repeat;
   margin-left: 60px;
   border-radius: 16px;
}

.text{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
padding-left: 70px;
}

.hn{
    padding-left: 170px;
    padding-top: 70px;
}

.pm1{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

.pm2{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
padding-right: 582px;
}

.contain{
    display: flex;
}

.main4{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 80%);
    margin-left: 60px;
    margin-top: 133px;
    margin-bottom: 100px;
    width: 1300px;
    height: 463.369px;
    border: 5px;
    border-radius: 16px;
    justify-content: center;

}
.dtp{
    padding-top: 90px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.cr{
    color: #F00;
}


.main5{
    display: flex;
    margin-left: 60px;
}

.t5{
    padding-right: 80px;
}

.st5{
    padding-left: 80px;
}

.t51{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.t52{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 47px;
}

.t53{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    
}

.img{
    border: 10px solid red;
    grid-area: 50px;
    border-radius: 50%;
}
.d24{
    color: #F00;
    font-family: Inter;
    font-size: 48px;;
    font-weight: 700;
}

.main6{
    text-align: center;
    margin-top: 120px;

}

.m6p1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.m6p2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.red1{
    color: #F00;
}

.m6p1,.m6p2{
    line-height: 16px;
}

.sp6{
    position: relative;
}

.i1{
    position: absolute;
}

#p1{
    margin-top: 432px;
    margin-left: 60px;
}
#p3{
    margin-left: 951px;
    margin-bottom: 1000px;

}

#p4{
    margin-left: 800px;
}

.main7{
    margin-top: 700px;
    margin-left: 60px;
}
.m7p1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
}

.m7p2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.m7p1, .m7p2{
    line-height: 20px;
}

.m7i1{
    display: flex;
    gap: 10px;
}

.m7i2{
    padding-top: 10px;
    display: flex;
    gap: 10px;
}


.main8{
    margin-top: 130px;
    margin-left: 60px;
    margin-right: 40px;
    width: 1300px;
    height: 590px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.m8s1{
    text-align: center;
    padding-top: 120px;
}

.m8p1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}


.main9{
    margin-top: 110px;
    margin-left: 0px;
    margin-right: 0px;
    background: #070211;
    width: 1410px;
    height: 600px;

}

.m9s1{
    display: flex;
    align-content: space-between;
}
.m9p1{
    padding-top: 120px;
    padding-left: 70px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.m9p2{
    padding-top: 120px;
    padding-left: 600px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.m9s2{
    align-content: center;
    padding-left: 530px;
    padding-top: 70px;
}

.m9s3{
    display: flex;
    margin-top: 60PX;
}


.pn9{
    padding-left: 10px;
    padding-right: 10px;
}

.m9p3{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 60px;
}

.m9p4{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 800px;
}